<div class="container">
    <h2 class="titulazo">Lista de Quejas</h2>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">DIACO</th>
                <th scope="col">Empresa</th>
                <th scope="col">Dirección</th>
                <th scope="col">Fecha de la Queja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let complaint of complaints">
                <th scope="row">{{ complaint.id }}</th>
                <td>{{complaint.person.branch.name}} {{complaint.person.branch.township.name}}</td>
                <td>{{complaint.company.name}}</td>
                <td>{{complaint.company.address}} {{complaint.company.township.name}}
                    {{complaint.company.township.department.name}}</td>
                <td>{{complaint.created_at}}</td>
            </tr>
        </tbody>
    </table>
</div>